@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    
}

.alertPopupContainer {
    width: 300px;
    height: 120px;
    position: absolute;
    bottom: 40px;
    right: 50px;
    z-index: 100;
    background: linear-gradient(90deg, rgba(168,67,65,1) 35%, rgba(245,158,84,1) 100%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;                    
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 1rem;
    /* transform: translate(0, 40px);
    transition: transform 1000ms ease-in-out; */
}

p {
    align-self: center;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.alertPopupButtonContainer {
    display: flex;
    justify-content: space-evenly;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

button {
    font-size: inherit;
    font-family: inherit;
    border-radius: 6px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: black !important; 
    color: white;
}

button.alertPopupButtonNo {
    background-color: red;
}

button.alertPopupButtonYes {
    background-color: green;
}